body {
  background-color: #FDD280;
}

header.scroll {
  background-color: #fff !important;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}

#main {
  background-image: linear-gradient(hsla(209, 81%, 10%, 0.75), hsla(209, 81%, 10%, 0.75)), url('/src/img/polstat.jpg');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

#main h1 {
  font-weight: bold;
  color: white;
}

#main p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
}
